<nav class="navbar">
    <input type="checkbox" id="menu-toggle" class="menu-toggle" />
    <label for="menu-toggle" class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <div class="menu left">
      <a target="_blank" href="http://www.minaclavero.gov.ar/turismo.php">Turismo</a>
      <a href="#municipalidad">Municipalidad</a>
    </div>

    <div class="logo">
      <img src="assets/logo_muni.png" alt="Municipalidad de Mina Clavero" />
    </div>

    <div class="menu right">
      <a routerLink="encuesta">Encuesta</a>
      <a routerLink="contacto">Contacto</a>
    </div>
  </nav>




