<header class="header">
<nav class="nav">
  <ul class="contenedor_nav">
    <li class="contenedor_nav_lista"><a target="_blank" href="http://www.minaclavero.gov.ar/turismo.php">Turismo</a></li>
    <li class="contenedor_nav_lista"><a>Municipalidad</a></li>
    <li class="contenedor_nav_lista"><a routerLink="" ><img class="imagen_nav" src="assets/logo_muni.jpg" alt=""></a></li>
    <li class="contenedor_nav_lista"><a routerLink="encuesta" >Encuesta</a></li>
    <li class="contenedor_nav_lista"><a routerLink="contacto" >Contacto</a></li>
  </ul>
</nav>
</header>
