<header class="header">
  <input type="checkbox" id="menu-toggle" class="menu-toggle" />
  <label for="menu-toggle" class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <nav class="nav">
    <ul class="contenedor_nav">
      <li class="contenedor_nav_lista"><a target="_blank" href="http://www.minaclavero.gov.ar/turismo.php">Turismo</a></li>
      <li class="contenedor_nav_lista"><a>Municipalidad</a></li>
      <li class="contenedor_nav_lista">
        <a routerLink=""><img class="imagen_nav" src="assets/logo_muni.png" alt="Municipalidad de Mina Clavero" /></a>
      </li>
      <li class="contenedor_nav_lista"><a routerLink="encuesta">Encuesta</a></li>
      <li class="contenedor_nav_lista"><a routerLink="contacto">Contacto</a></li>
    </ul>
  </nav>

</header>
