<div class="contenedor">
  <div class="contenedor_select">
    <h3 class="titulo_select">¿Qué gráfico desea ver?</h3>
    <mat-form-field [formGroup]="form" appearance="fill">
    <mat-label>Categorias</mat-label>
    <mat-select formControlName="selectedChartName">
      @for (chartName of chartNames; track chartName) {
        <mat-option [value]="chartName">{{chartName}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<div class="contenedr_graficos">
  @if (form.get('selectedChartName')?.value === 'Turista') {

    <div class="generos_edad">
      <div class="contenedorGraficos">
      <h2 class="titulo_graficos">Gráfica de Géneros</h2>
      <app-grafico-mixed-chart
        [datasets]="[
          { type: 'bar', label: 'Femenino', data: [120], backgroundColor: 'rgba(255,99,132,0.5)', borderColor: 'rgba(255,99,132,1)' },
          { type: 'bar', label: 'Masculino', data: [80], backgroundColor: 'rgba(54,162,235,0.2)', borderColor: 'rgba(54,162,235,1)' }
        ]"
      />
    </div>

      <div class="turista">
        <div class="contenedorGraficos">
          <h2 class="titulo_graficos">Gráfica de Edad</h2>
          <app-grafico-mixed-chart
            [datasets]="[
              { type: 'bar', label: '18-25', data: [50], backgroundColor: 'rgba(255,206,86,0.5)', borderColor: 'rgba(255,206,86,1)' },
              { type: 'bar', label: '26-35', data: [edad26_35], backgroundColor: 'rgba(75,192,192,0.5)', borderColor: 'rgba(75,192,192,1)' },
              { type: 'bar', label: '36-45', data: [32], backgroundColor: 'rgba(153,102,255,0.5)', borderColor: 'rgba(153,102,255,1)' },
              { type: 'bar', label: '46-55', data: [85], backgroundColor: 'rgba(255,159,64,0.5)', borderColor: 'rgba(255,159,64,1)' },
              { type: 'bar', label: '56+', data: [9], backgroundColor: 'rgba(201,203,207,0.5)', borderColor: 'rgba(201,203,207,1)' }
            ]"
          />
        </div>
      </div>
    </div>

    <div class="procedencia_estadia">
      <div class="turista">
        <div class="contenedorGraficos">
          <h2 class="titulo_graficos">Gráfica de Procedencia</h2>
          <app-grafico-mixed-chart
            [labels]="['Ciudad de Córdoba', 'Otra localidad', 'Otra provincia', 'Otro país']"
            [datasets]="[
              {
                type: 'line', label: 'Cantidad de encuestados', data: [65,24,75,45], backgroundColor: 'rgba(255, 99, 132, 0.5)', borderColor:'rgba(255, 99, 132, 1)',
              }
            ]"/>
        </div>
      </div>

      <div class="turista">
        <div class="contenedorGraficos">
          <h2 class="titulo_graficos">Mes de Estadia</h2>
          <app-grafico-mixed-chart
            [labels]="['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']"
            [datasets]="[
              { type: 'line', label: 'Cantidad de encuestados', data: [10, 20, 55, 25, 30, 95, 40, 45, 50, 15, 60, 25
              ], backgroundColor: 'rgba(54,162,235,0.5)', borderColor: 'rgba(54,162,235,1)' }
            ]"
          />
        </div>
      </div>
    </div>
  }

  @if (form.get('selectedChartName')?.value === 'Medios') {
    <div class="contenedorGraficos">
      <h2 class="titulo_centrado" >Medios de Difusión</h2>
      <app-grafico-mixed-chart
        [datasets]="[
          { type: 'bar', label: 'Televisión', data: [13], backgroundColor: 'rgba(255,99,132,0.5)', borderColor: 'rgba(255,99,132,1)' },
          { type: 'bar', label: 'Página Web', data: [76], backgroundColor: 'rgba(54,162,235,0.5)', borderColor: 'rgba(54,162,235,1)' },
          { type: 'bar', label: 'Radio', data: [23], backgroundColor: 'rgba(255,206,86,0.5)', borderColor: 'rgba(255,206,86,1)' },
          { type: 'bar', label: 'Gráficos', data: [93], backgroundColor: 'rgba(75,192,192,0.5)', borderColor: 'rgba(75,192,192,1)' },
          { type: 'bar', label: 'Facebook', data: [12], backgroundColor: 'rgba(153,102,255,0.5)', borderColor: 'rgba(153,102,255,1)' },
          { type: 'bar', label: 'Recomendación', data: [cantidadRecomendacion], backgroundColor: 'rgba(255,159,64,0.5)', borderColor: 'rgba(255,159,64,1)' },
          { type: 'bar', label: 'Otro', data: [54], backgroundColor: 'rgba(201,203,207,0.5)', borderColor:'rgba(201,203,207,1)' }
        ]"
      />
    </div>
  }

  @if (form.get('selectedChartName')?.value === 'Motivo') {
    <div class="contenedorGraficos">
      <h2 class="titulo_centrado" >¿Por qué motivo eligió Mina Clavero para pasar sus vacaciones?</h2>
      <app-grafico-mixed-chart
            [labels]="['Conocia','Recomendación','Publicidad','Tranquilidad', 'Paisajes','Eventos','Amabilidad','Otros']"
            [datasets]="[
              { type: 'line', label: 'Cantidad de encuestados', data: [12,52,45,23,64,21,76,90
              ], backgroundColor: 'rgba(54,162,235,0.5)', borderColor: 'rgba(54,162,235,1)' }
            ]"
          />
    </div>
  }

  @if (form.get('selectedChartName')?.value === 'Hospedaje') {
    <div class="contenedor_hospedaje">
      <div class="contenedorGraficos">
      <h2 class="titulo_centrado">Reserva</h2>
      <app-grafico-mixed-chart
        [datasets]="[
          { type: 'bar', label: 'Con reserva', data: [17], backgroundColor: 'rgba(255,99,132,0.5)', borderColor: 'rgba(255,99,132,1)' },
          { type: 'bar', label: 'Sin reserva', data: [25], backgroundColor: 'rgba(54,162,235,0.5)', borderColor: 'rgba(54,162,235,1)' }
        ]"
      />
    </div>

    <div class="contenedorGraficos" style="margin-top: 50px;">
      <h2 class="titulo_centrado">Tipo de Hospedaje</h2>
        <app-grafico-mixed-chart
          [labels]="['Hotel', 'Cabaña', 'Hosteria', 'Camping', 'Casa de alquiler', 'Otro Hospedaje']"
          [datasets]="[
            { type: 'line', label: 'Cantidad de encuestados', data: [43,21,65,12,98], backgroundColor: 'rgba(255,206,86,0.5)', borderColor: 'rgba(255,206,86,1)' }
          ]"
        />
    </div>

    <div class="contenedorGraficos">
      <h2 class="titulo_centrado" >Calificación del Servicio</h2>
      <app-grafico-mixed-chart
        [datasets]="[
          { type: 'bar', label: 'Excelente', data: [14], backgroundColor: 'rgba(255,99,132,0.5)', borderColor: 'rgba(255,99,132,1)' },
          { type: 'bar', label: 'Muy buena', data: [56], backgroundColor: 'rgba(54,162,235,0.5)', borderColor: 'rgba(54,162,235,1)' },
          { type: 'bar', label: 'Buena', data: [98], backgroundColor: 'rgba(255,206,86,0.5)', borderColor: 'rgba(255,206,86,1)' },
          { type: 'bar', label: 'Regular', data: [12], backgroundColor: 'rgba(75,192,192,0.5)', borderColor: 'rgba(75,192,192,1)' },
          { type: 'bar', label: 'Mala', data: [15], backgroundColor: 'rgba(153,102,255,0.5)', borderColor: 'rgba(153,102,255,1)' },
          { type: 'bar', label: 'Muy mala', data: [32], backgroundColor: 'rgba(255,159,64,0.5)', borderColor:'rgba(255,159,64,1)' },
          { type: 'bar', label: 'Pésima', data: [53], backgroundColor:'rgba(201,203,207,0.5)', borderColor:'rgba(201,203,207,1)' }
        ]"
        />
    </div>
    </div>
  }

  @if (form.get('selectedChartName')?.value === 'Oficina') {
    <div class="contenedor_oficina">
      <div class="contenedorGraficos">
      <h2 class="titulo_centrado">Solicitud de información en oficina</h2>
      <app-grafico-mixed-chart
        [datasets]="[
          {type: 'bar', label: 'Sin informacion', data: [21], backgroundColor: 'rgba(255,99,132,0.5)', borderColor: 'rgba(255,99,132,1)'},
          {type: 'bar', label: 'Oficina de la rotonda de ingreso', data: [41], backgroundColor: 'rgba(54,162,235,0.5)', borderColor: 'rgba(54,162,235,1)'},
          {type: 'bar', label: 'Oficina de Plazalote Merlo', data: [11], backgroundColor: 'rgba(255,206,86,0.5)', borderColor: 'rgba(255,206,86,1)'},
          {type: 'bar', label: 'Oficina de la terminal', data: [67], backgroundColor: 'rgba(75,192,192,0.5)', borderColor: 'rgba(75,192,192,1)'}
        ]"
      />
    </div>

    <div class="contenedorGraficos" style="margin-top: 50px;">
      <h2 class="titulo_centrado">Tipo de Información</h2>
      <app-grafico-mixed-chart
        [labels]="['Hospedaje', 'Paseos', 'Eventos', 'Gastronomia', 'Turismo Aventura', 'Servicios', 'Rutas', 'Otros']"
        [datasets]="[
          { type: 'line', label: 'Cantidad de encuestados', data: [15,65,12,52,42,74,12,76,89
          ], backgroundColor: 'rgba(122, 57, 243, 0.705)', borderColor: 'rgba(122, 57, 243, 0.705)' }
        ]"
      />
    </div>

    <div class="contenedorGraficos">
      <h2 class="titulo_centrado">Calificación de la información</h2>
      <app-grafico-mixed-chart
        [datasets]="[
          { type: 'bar', label: 'Excelente', data: [11], backgroundColor: 'rgba(255,99,132,0.5)', borderColor: 'rgba(255,99,132,1)' },
          { type: 'bar', label: 'Muy buena', data: [42], backgroundColor: 'rgba(54,162,235,0.5)', borderColor: 'rgba(54,162,235,1)' },
          { type: 'bar', label: 'Buena', data: [23], backgroundColor: 'rgba(255,206,86,0.5)', borderColor: 'rgba(255,206,86,1)' },
          { type: 'bar', label: 'Regular', data: [12], backgroundColor: 'rgba(75,192,192,0.5)', borderColor: 'rgba(75,192,192,1)' },
          { type: 'bar', label: 'Mala', data: [78], backgroundColor: 'rgba(153,102,255,0.5)', borderColor: 'rgba(153,102,255,1)' },
          { type: 'bar', label: 'Muy mala', data: [34], backgroundColor:'rgba(255,159,64,0.5)', borderColor:'rgba(255,159,64,1)'},
          { type: 'bar', label: 'Pésima', data: [12], backgroundColor:'rgba(201,203,207,0.5)', borderColor:'rgba(201,203,207,1)'}
        ]"
      />
    </div>
    </div>
  }

  @if (form.get('selectedChartName')?.value === 'Recomendaria') {
    <div class="contenedor_recomendaciones">
      <div class="contenedorGraficos">
      <h2 class="titulo_graficos">¿Considera Mina Clavero un destino completo?</h2>
      <app-grafico-mixed-chart
        [datasets]="[
          { type: 'bar', label: 'Sí', data: [12], backgroundColor: 'rgba(255,99,132,0.5)', borderColor: 'rgba(255,99,132,1)' },
          { type: 'bar', label: 'No', data: [23], backgroundColor: 'rgba(54,162,235,0.5)', borderColor: 'rgba(54,162,235,1)' }
        ]"
        />
    </div>

    <div class="contenedorGraficos">
      <h2 class="titulo_graficos">¿Recomendaría Mina Clavero como destino turístico?</h2>
      <app-grafico-mixed-chart
        [datasets]="[
          { type: 'bar', label: 'Sí', data: [65], backgroundColor: 'rgba(255,99,132,0.5)', borderColor: 'rgba(255,99,132,1)' },
          { type: 'bar', label: 'No', data: [34], backgroundColor: 'rgba(54,162,235,0.5)', borderColor: 'rgba(54,162,235,1)' }
        ]"
        />
    </div>
    </div>
  }
</div>

</div>
