<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo">
            <img class="footer__imagen" src="assets/logo_muni.png" alt="Logo Municipalidad de Mina Clavero" />
    </div>

    <div class="footer__info">
      <p>📍 Av. San Martín 123, Mina Clavero, Córdoba</p>
      <p>📞 (03544) 123456</p>
    </div>

    <div class="footer__links">
      <a href="#">Turismo</a>
      <a href="#">Servicios</a>
      <a href="#">Trámites</a>
      <a href="#">Transparencia</a>
    </div>
  </div>

  <div class="footer__bottom">
    <p>© 2025 Municipalidad de Mina Clavero. Todos los derechos reservados.</p>
  </div>
</footer>
