<div class="">
    <div class="">
        <h3 class="">Iniciar Sesión</h3>
        <form [formGroup]="form" (ngSubmit)="login()">
          <div class="">
            <app-custom-input
              [label]="'Usuario'"
              [control]="form.controls.user"
              [type]="'text'"
              [placeholder]="'Ingrese el usuario'"
            />
          </div>
          <div class="">
            <app-custom-input
              [label]="'Contraseña'"
              [control]="form.controls.password"
              [type]="'text'"
              [placeholder]="'Ingrese la contraseña'"
            />
          </div>
          <div>
            <button [disabled]="!form.valid" type="submit">Ingresar</button>
          </div>
        </form>
    </div>
</div>

