<main class="main">
  <div class="contenedor_main">
      <h1 class="contenedor_main_titulo">
        Ayudanos a mejorar tu experiencia en Mina Clavero
      </h1>
      <p class="contenedor_main_parrafo">
        Desde la Secretaría de Turismo de la Municipalidad de Mina Clavero estamos realizando una encuesta para conocer tus preferencias y nivel de satisfacción en tu visita. Queremos hacer de nuestra localidad el mejor lugar para tus vacaciones. Tus datos son confidenciales y anónimos.
      </p>
      <button class="contenedor_main_boton" routerLink="encuesta">Comenzar encuesta</button>
  </div>
</main>

