<div class="contenedor_todo">
  <div class="dashboard-container">
  <div class="dashboard-header">
    <h2>Resultado de la encuesta</h2>
  </div>

  <form [formGroup]="form" class="dashboard-form">
    <app-custom-input
      [placeholder]="'Buscar por procedencia'"
      [control]="form.controls.filtrador"
    />
  </form>

  <div class="dashboard-actions">
    <button class="dashboard-button">Exportar a hoja de datos</button>
  </div>
</div>

<div class="contenedor_dashboard">
  <mat-tab-group class="dashboard">
    <mat-tab label="Tablas">
      <div class="contenedor_tablas">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 contenido_tablas">
          <ng-container  matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let e">{{ e.id}}</td>
          </ng-container>
          <ng-container matColumnDef="procedencia">
            <th mat-header-cell *matHeaderCellDef>procedencia</th>
            <td mat-cell *matCellDef="let e">{{ e.procedencia }}</td>
          </ng-container>
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let e">{{ e.fecha }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-tab>

    <mat-tab label="Gráficos">
      <div class="graficos-container">Acá van tus gráficos.</div>
    </mat-tab>

    <mat-tab label="Mensajes">
      <div class="mensajes-container">Acá van tus mensajes.</div>
    </mat-tab>
  </mat-tab-group>
</div>

</div>
